@page
@model WebClient.Pages.admin.IndexModel

@{
}
<div class="text-center">
    <h1 class="display-4"></h1>

        <h1 class='mt-5' style='text-align: center; vertical-align: middle; color: darkgrey; user-select: none;'>
            <pre style="color: orange">
                @Model.AsciiArt
                            </pre>
        </h1>
</div>
